.carousel {
  margin: 50px 0 auto;
  width: 80vw;
  height: 304px;
  z-index: 2;
  border-radius: 5px;
  border: 2px solid darkgrey;
}

.imageCarousel {
  height: 300px;
  width: 100%;
}

li {
  background-color: white;
}
