@import '../../../shared/const/mediaQueriesDigital.scss';

.imageItem {
    width: 450px;
    height: 95%;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
}
.progressItem {
    width: 450px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
@media screen and (max-width: $XXL) {
    .imageItem {
        width: 350px;
    }
    .progressItem {
        width: 350px;
    }
}
@media screen and (max-width: $XL) {
    .imageItem {
        width: 300px;
    }
    .progressItem {
        width: 300px;
    }
}
@media screen and (max-width: $LG) {
    .imageItem {
        width: 250px;
    }
    .progressItem {
        width: 250px;
    }
}
@media screen and (max-width: $SM) {
    .imageItem {
        width: 250px;
    }
    .progressItem {
        width: 250px;
    }
}
@media screen and (max-width: $SM) {
    .imageItem {
        width: 250px;
    }
    .progressItem {
        width: 250px;
    }
}