$squareItemSide: 200px;

.squareItem{
  background-color: rgb(61, 61, 61);
  color: white;
  border-radius: 15px;
  border: 1px solid white;
  height: $squareItemSide;
  width: $squareItemSide;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.squareItem_Icon{
font-size: 70px;
}