@import '../../../shared/const/mediaQueriesDigital.scss';

.carousel {
    margin: 50px 0 auto;
    width: 80vw;
    height: 304px;
    z-index: 2;
    border-radius: 5px;
    border: 2px solid darkgrey;
}

.imageCarousel {
    height: 300px;
    width: 100%;
}

li {
    background-color: white;
}

@media screen and (max-width: $XL) {
    .carousel {
        height: 254px;
        margin: 30px 0 auto;
    }
    .imageCarousel {
        height: 250px;
    }
}
@media screen and (max-width: $LG) {
    .carousel {
        height: 204px;
    }
    .imageCarousel {
        height: 200px;
    }
}
@media screen and (max-width: $MD) {
    .carousel {
        height: 154px;
        margin: 20px 0 auto;
    }
    .imageCarousel {
        height: 150px;
    }
}
@media screen and (max-width: $SM) {
    .carousel {
        height: 134px;
        margin: 10px 0 auto;
    }
    .imageCarousel {
        height: 130px;
    }
}
@media screen and (max-width: $XS) {
    .carousel {
        height: 84px;
    }
    .imageCarousel {
        height: 80px;
    }
}
