.contentStyle {
  text-align: center;
  color: #fff;
  padding-inline: 50;
  background-color: #474747;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
}
.carousel{
  margin: 50px 0 auto;
  width: 80vw;
  height: 300px;
  z-index: 2;
  border-radius: 5px;
}
.imageCarousel{
  height: 300px;
  width: 80vw;
  border-radius: 5px;
}
li{
  background-color: white;
}
