@import "../../../app/index.module.scss";
@import '../../../shared/const/mediaQueriesDigital.scss';

.headerNavbar {
    padding-top: 10px;
    background-color: $bodyBackgroundColor;
    .buttonNavbar:not(:first-child) {
        margin-left: 5px;
        color: rgb(41, 41, 41);
    }
}
.username {
    color: gray;
    font-size: 18px;
    margin-right: 10px;
}
.userOutlined {
    font-size: 35px;
    border: 2px solid gray;
    border-radius: 5px;
    color: gray;
}
.logoutOutlined {
    font-size: 35px;
    border: 2px solid rgb(237, 83, 83);
    border-radius: 5px;
    color: rgb(237, 83, 83);
}
@media screen and (max-width: $MD) {
    .username {
        font-size: 16px;
    }
    .userOutlined {
        font-size: 28px;
    }
    .logoutOutlined {
        font-size: 28px;
    }
}
@media screen and (max-width: $SM) {
    .userOutlined {
        font-size: 20px;
    }
    .logoutOutlined {
        font-size: 20px;
    }
    .buttonNavbar {
        font-size: 12px;
        height: 27px;
        display: flex;
        padding: 0px 6px;
        border-radius: 6px;
        align-items: center;
    }
    .spaceNavbarButton{
        margin-right: 10px;
    }
}
@media screen and (max-width: $S) {
    .username {
        font-size: 14px;
    }
    .userOutlined {
        font-size: 18px;
    }
    .logoutOutlined {
        font-size: 18px;
    }
}
@media screen and (max-width: $XS) {
    .username {
        font-size: 12px;
    }
    .userOutlined {
        font-size: 14px;
    }
    .logoutOutlined {
        font-size: 14px;
    }
}
@media screen and (max-width: $XXS) {
    .username {
        font-size: 10px;
    }
    .userOutlined {
        font-size: 12px;
    }
    .logoutOutlined {
        font-size: 12px;
    }
}
